<app-header [tab]="'PRICES'"></app-header>

<div class="container-fluid no-padding content">
  <app-free-lesson-assignment></app-free-lesson-assignment>

  <app-promo [minimalistic]="true"></app-promo>

  <br>

  <div class="row no-margin">
    <div class="col-md-1"></div>

    <div class="col-md-5 app-card app-prices-column">
      <h4>
        <img src="assets/images/advantages/individual_lessons.png" class="horizontal-item app-prices-icon">

        Индивидуальные занятия
      </h4>

      <br>

      Одним из главных достоинств индивидуального обучения является составление программы с учетом ваших пожеланий.
      Индивидуальные занятия наиболее эффективны для подготовки к экзаменам.

      <br><br>

      <h4>
        <span>
          <b>900 ₽ за академический час</b>
        </span>
      </h4>

      <br>
    </div>

    <div class="hidden-lg hidden-md app-prices-separator"></div>

    <div class="col-md-5 app-card app-prices-column">
      <h4>
        <img src="assets/images/advantages/group_lessons.png" class="horizontal-item app-prices-icon">

        Групповые занятия
      </h4>

      <br>

      Наиболее популярным направлением является обучение в группах, так как один из важнейших аспектов изучения языка – это общение.
      Небольшие группы от 2 до 6 человек позволяют каждому учащемуся раскрыть свой потенциал.

      <br><br>

      <h4>
        <span>
          <b>370 ₽ за академический час - 5900 ₽ в месяц</b>
        </span>
      </h4>

      <br>
    </div>
  </div>

  <br>

  <app-footer></app-footer>
</div>

